<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu" class="nav-buttons-light"></ion-icon>
		</button>
		<ion-title>Customer list</ion-title>
		<ion-buttons end>
			<button class="button-nav-add" (click)="pushNewCreateDishPage()" ion-button>
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<article *ngIf="customerList">
		<ion-list>
			<ion-card *ngFor="let customer of customerList" >
				<ion-card-content class="card-target">
					<div>
						<ion-icon name="person"></ion-icon>
						<ion-label>{{customer.name}}</ion-label>
					</div>
					<div>
						<ion-label>{{customer.bags}}</ion-label>
						<ion-icon name="briefcase"></ion-icon>
					</div>
				</ion-card-content>
			</ion-card>
		</ion-list>
		<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</article>
</ion-content>